In [4]:
print(123123123123123123123123123213+1)

123123123123123123123123123214

In [5]:
print(10)
print(type(10))

10
<class 'int'>

In [8]:
print(4.2)
print(type(4.2))

print(4.)
print(.2)
print(.4e7)
print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

In [9]:
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

In [10]:
print("")

In [13]:
print("This string contains a single quote (') character.")

This string contains a single quote (') character.

In [15]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [16]:
n = 300

print(n)

300

In [17]:
n

300

In [18]:
m = 1000

print(m)

1000

In [19]:
m

1000

In [20]:
a = b =c = 300

print(a,b,c)

300 300 300

In [21]:
var = 23.5
print(var)

var = "Now I'm a string"
print(var)

23.5
Now I'm a string

In [22]:
name = "Hacktiv8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

Hacktiv8 54 True

In [24]:
##variabel tidak boleh diawali dengan angka

9_kepala_naga = True

SyntaxError: invalid decimal literal (3522370023.py, line 3)

In [25]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age,Age,aGe,AGE,a_g_e,_age,age_,_AGE_)

1 2 3 4 5 6 7 8

In [26]:
a = 10
b = 20
a + b

30

In [27]:
a = 10
b = 20
a + b - 5

25

In [28]:
a = 4
b = 3

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

7
1
12
1.3333333333333333
1
64

In [29]:
10/5

2.0

In [31]:
a = 10
b = 20
print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

a = 30
b = 30
print(a == b)
print(a <= b)
print(a >= b)

False
True
True
False
True
True
True

In [32]:
# + Operators

s = 'foo'
t = 'bar'
u = 'baz'

print(s+t)
print(s+t+u)
print('Hacktiv8' + 'PTP')

foobar
foobarbaz
Hacktiv8PTP

In [34]:
# * Operators

s = 'foo'
s * 4

'foofoofoofoo'

In [35]:
# in Operators

s = 'foo'

print(s in 'That food for us')
print(s in 'That good for us')

True
False

In [36]:
# Case Conversion
s = 'HackTIV8'

# Capitalize
print(s.capitalize())

# Lower
print(s.lower())

# Swapcase
print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

In [37]:
a = ['foo', 'bar', 'baz', 'qux']
print(a)

['foo', 'bar', 'baz', 'qux']

In [38]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

In [39]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

In [40]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [41]:
print(a[0])

foo

In [42]:
print(a[5])

corge

In [43]:
print(a[-1])
print(a[-6])

corge
foo

In [44]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a[2:5]

['baz', 'qux', 'quux']

In [45]:
# The concatenation (+) and replication (*) operators:

print(a)

print(a + ['grault', 'graply'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'graply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [46]:
print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

In [47]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a)

a[2] = 10
a[-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [48]:
del a[3]
print(a)

['foo', 'bar', 10, 'quux', 20]

In [49]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])
a[1:4] = [1.1,2.2,3.3,4.4,5.5]

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

In [50]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [51]:
print(t[0])

foo

In [52]:
print(t[-1])

corge

In [53]:
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')

In [54]:
s1

'foo'

In [55]:
MLB_team = {
    'Colorado' : 'Rockies',
    'Boston' : 'Red Sox',
    'Minnesota' : 'Twins',
    'Milwaukee' : 'brewers',
    'Seattle' : 'Mariners'
}

In [56]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

Twins
Rockies

In [58]:
MLB_team['Kansas City'] = 'Royals'

In [59]:
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [60]:
MLB_team['Seattle'] = 'Seahawks'

In [61]:
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [62]:
del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'brewers',
 'Kansas City': 'Royals'}

In [63]:
person = {}

In [64]:
type(person)

dict

In [65]:
person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog' : 'Fido', 'cat' : 'Sox'}

In [66]:
person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [67]:
print(person['fname'])
print(person['lname'])

Hack
PTP

In [71]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [73]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [75]:
# Built-in Methods
d = {'a' : 10, 'b' : 20, 'c' : 30}

# items
print(d.items())

#keys
print(d.keys())

#value
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

In [77]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)

someone_is_of_working_age

True

In [78]:
someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)

someone_is_of_working_age

True